.button {
    font-family: $heading-font-family;
    text-transform: uppercase;
    font-size: 1.2rem;
    letter-spacing: 2px;
    padding: 0.5rem 0.8rem;
    margin-top: 1rem;
    border-radius: 3px;
    border: 2px solid $blue;
    transition: border 0.3s $base-animation;

    &:hover, &:focus {
        transition: border 0.3s $base-animation;
        border-color: $gray;
    }

    &:active {
        transition: border 0.3s $base-animation;
        border-color: $black;
    }

    i {
        display: inline-block;
        height: 16px;
        width: 16px;
        margin-left: .25rem;

        svg {
            path {
                stroke: white;
            }
        }
    }
}