.section--home-about {
    .block--about-text {
        p {
            margin-bottom: 0;
        }
    }

    .block--about-image {
        img {
            width: 100%;
        }
    }

    .block--about-classes {
        @include media($screen-sm) {
            position: relative;
            margin-bottom: -5em;
        }
    }
}