.section--footer {
    .block--social {
        a {
            width: 30px;
            display: block;

            i {
                width: 30px;
                display: block;
            }
        }
    }
}