.section--home-about {
    .block--about-text {
        p {
            margin-bottom: 0;
        }
    }

    .block--about-image {
        @include media($screen-mdl) {
            margin-right: 4rem;
        }


        img {
            width: 100%;
        }
    }

    .block--about-classes {
        @include media($screen-sm) {
            position: relative;
            margin-bottom: -5em;
        }


        h5 {
            font-size: 1.55rem;
            letter-spacing: 2px;
            margin-bottom: 0.7rem;
        }
    }
}