.icon-external { background-image: url('app/icons/external.png'); background-repeat: no-repeat; }

.icon-hustle { background-image: url('app/icons/hustle.png'); background-repeat: no-repeat; }

.icon-logo { background-image: url('app/icons/logo.png'); background-repeat: no-repeat; }

.icon-social--facebook { background-image: url('app/icons/social--facebook.png'); background-repeat: no-repeat; }

.icon-social--instagram { background-image: url('app/icons/social--instagram.png'); background-repeat: no-repeat; }

.icon-social--twitter { background-image: url('app/icons/social--twitter.png'); background-repeat: no-repeat; }

.icon-social--youtube { background-image: url('app/icons/social--youtube.png'); background-repeat: no-repeat; }

