<section class="section--home-meet bg--blue color--white flex flex--wrap justify--around align--items-center spacing--gutter">
<div class="grid--one grid--md-third">
	<img src="{{home.meet.image|resize(55)}}" data-original="{{home.meet.image|resize(660)}}" width="330" class="block">
</div>
<div class="grid--one grid--md-two-thirds grid--lg-half">
	<h3 class="margin--bot-1">{{home.meet.title}}</h3>
	{{home.meet.content}}
</div>
</section>