<section class="section--home-pricing bg--blue spacing--gutter spacing--vert-3 spacing--dsk-vert-6">
	
	{% if home.pricing.title %}<h2>{{home.pricing.title}}</h2>{% endif %}
	{% for tier in home.pricing.tiers %}
		<div class="block--tier flex flex--wrap flex--double justify--between align--items-stretch max-wrap margin--center margin--vert-">
			<h3 class="color--white grid--one margin--top-1 margin--bot-1">{{tier.title}}</h3>
			{% for price in tier.prices %}
				{% include 'components/blocks/block--pricing.twig' %}
			{% endfor %}
		</div>
	{% endfor %}
	<div class="block--pricing-note margin--top-3 text--center">
		<div class="max-wrap margin--center spacing--gutter">
			{{home.pricing.text}}
		</div>
	</div>
</section>